body {
	background-color: #fafafa;
}

h1, h2, div, span, p, a {
	font-family: "PT Serif";
}

.text-center {
	text-align: center;
}

.container {
	background-color: white;
	border: solid 1px #666;
	border-radius: 6px;
	width: 80%;
	height: 100%;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	text-align: center;
}

.link {
	text-decoration: none;
	border: 1px solid #666;
	border-radius: 3px;
	padding: 4px;
	margin-left: 2px;
	margin-right: 2px;
}

.links {
	margin-left: auto;
	margin-right: auto;
}

.text-body {
	padding: 10px;
}

.links a {
	color: #555;
}

.description {
	line-height: 1.5;
}

button {
	background-color: white;
	border-radius: 4px;
	padding: 5px;
}

.button-group {
	width: 18%;
	position: fixed;
	left: 0;
}

.control-btn {
	margin-left: 15px;
	margin-bottom: 5px;
	margin-top: 5px;
}

button a {
	text-decoration: none;
	color: black;
}